@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Montserrat", sans-serif;
}

/* width */
 ::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
   background-color: #0A192F;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 10px;
  }
  
  i{
    cursor:pointer
  }

  i:hover{
    color:turquoise;
  }

  /* animation for loader */

.k{
    animation: k 1s infinite;
  }

  @keyframes k{
    0%{
      opacity: 1;
    }
    50%{
      opacity: 0.5;
    }
    100%{
      opacity: 0.5;
    }
  }

  .r{
    animation: r 1s infinite;
  }

  @keyframes r{
    0%{
      opacity: 0.5;
    }
    50%{
      opacity: 1;
    }
    100%{
      opacity: 0.5;
    }
  }

  .p{
    animation: p 1s infinite;
  }

  @keyframes p{
    0%{
      opacity: 0.5;
    }
    50%{
      opacity: 0.5;
    }
    100%{
      opacity: 1;
    }
  }

